body {
    font-family: "Poppins";
    background-color: rgb(250, 238, 222);
    font-style: normal;
    margin: 12px;
    padding: 12px;
    box-sizing: border-box;
}
header {
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 200px;
    height: auto;
    margin-right: 20px;
}
