body {
    font-family: "Poppins";
    background-color: rgb(250, 238, 222);
    font-style: normal;
    margin: 12px;
    padding: 12px;
    font-weight: 350;
    box-sizing: border-box;

}

p, ul, ol{
    max-width: 850px;
    line-height: 1.7;
    font-size: large;
}
header {
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.logo {
    width: 200px;
    height: auto;
    margin-right: 20px;
}
#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#introduction h1 {
    font-size: 2em;
}
.img1 {
    width: 850px;
    height: 520px;
    border-radius: 14px; 
}
.bold {
    font-weight: 600;
}

.code {
    width: 50%;
    border-radius: 30px;
}

.orange {
    color: #D35400;
}
ul {
    list-style: circle;
}

/*anchors*/
a {
    color: #D35400; 
    text-decoration: underline; 
    font-weight: 500; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #A04000; 
}

a:visited {
    color: #8E44AD; 
}

a:active {
    color: #D35400; 
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer img {
    width: 30px;
    padding: 20px;
}
footer a:hover {
    cursor: pointer;
    transform: scale(1.2);
    margin-bottom: 2px;
}

.zoom-in {
    animation: zoomIn 0.7s ease-in-out forwards;
}

.zoom-in-effect.visible {
    opacity: 1; /* Rendre visible */
    transform: scale(1); /* Zoomer */
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
